@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.header {
    padding: 30px 60px;
    background-color: rgb(10, 10, 10);
    /* height: 100vh; */
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.menu a{
    color: white;
}
.logo1 {
    width: 70px;
}
.links a{
    margin-left: 20px;
}
.s1-precontent{
    height: 87vh;
    display: flex;
    justify-content: center;

}
.s1-content {
    display: flex;
    align-items: center;
    height: 70vh;
}

.s1-h1 {
    font-size: 64px;
}
.s1-h2 {
    margin-top: -50px;
    font-size: 45px;
    font-weight: 100;
}
.s1-p {
    max-width: 70%;
    font-weight: 100;
    font-size: 16px;
}
.s1-btns {
    margin-top: 50px;
}
.s1-btn1 {
    background: transparent;
    border: 1px white solid;
    padding: 10px 11%;
    margin-right: 70px;
    color: white;
}

.s1-img1 {
    max-width: 900px;
    position: absolute;
    /* top: 80px; */
    left: 500px;

}
.s1-img2{
    max-width: 900px;
    position: relative;
    top: 200px;
    left: 50px;
}
@media screen and (max-width: 390px){
    .header{
        padding: 50px;
    }
    .menu{
    }
    .s1-precontent{
    }
    .s1-content{

    }
    .s1-p{
        max-width: 50%;
    }
    .s1-btns{

        display: flex;
        justify-content: center;
    }
    .s1-btn1{
        margin-right: 0px;
        padding: 10px 30px;
    }
    .s1-img{
        margin-top: 70px;
    }
    .s1-img1{
        width: 250px;
        top: 350px;
        left: 25px;

    }
    .s1-img2{
        max-width: 200px;
        top: 45px;
    }
}
@media screen and (max-width: 430px) {
    .header{
        padding: 20px;
        font-family: Montserrat;
    }
    .menu{
        font-size: 15px;
    }
    .s1-content{
        flex-direction: column;

    }
    .s1-h1{
        font-size: 35px;
        margin-top: 40px;
    }
    .s1-h2{
        font-size: 25px;
        margin-top: -20px;
    }
    .s1-p{
        max-width: 90%;
    }
    .s1-btn1{
        margin-right: 50px;
        font-size: 12px;
    }
    .s1-img1{
        margin-top: 50px;
        max-width: 400px;
        left: 0px;
    }
    .s1-img2{
        max-width: 300px;
    }
}

.section2 {
    padding: 70px 60px;

}
.s2-h1 {
    text-align: center;
}
.s2-content {
    display: flex;
    align-items: center;
    justify-content: center;

}
.s2-img img{
    width: 85%;

}
.s2-list {
    display: flex;
    flex-direction: column;

}
.s2-list-text {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    max-width: 70%;

}
.s2-text-img img{
    max-width: 50px;
}
#img1{
    width: 40px;
}
#img2{
    width: 50px;
}
.s2-text-text{
    margin-left: 30px;
    
}
.s2-list-text{
    margin-bottom: 30px;
}

@media screen and (max-width: 430px){
    .section2{
        padding: 20px 40px;
    }
    .s2-h1{
        max-width: 80%;
        text-align: left;
    }
    .s2-content{
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .s2-list{
        margin-top: 30px;
    }
    .s2-list-text{
        max-width: 90%;
    }
    .s2-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .s2-text-img img{
        max-width: 30px;
    }
    .s2-text-text{
        margin-left: 15px;
    }
}

.section3{
    background: #101010;
    color: white;
    padding: 70px 60px;
}
.s3-content-block {
    display: flex;
    justify-content: space-around;
    /* Maybe between */
    align-items: center;

}
.s3-h1 {
    text-align: left;
}
.s3-text {
    max-width: 40%;
}
.s3-p{
    max-width: 60%;
    font-weight: 100;
    margin-top: 70px;
}
.s3-imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding-bottom: 30px;
}
.s3-img1{
    padding: 6px;
    max-width: 250px;
}
.s3-btn{
    background: transparent;
    border: 1px white solid;
    padding: 10px 11%;
    margin-right: 70px;
    color: white;
    margin-top: 20px;
    }
@media screen and (max-width: 430px){
    .section3{
        padding: 20px 40px;
    }
    .s3-h1{
        text-align: left;
        max-width: 70%;
    }
    .s3-content-block{
        margin-top: 50px;
        flex-direction: column;
    }
    .s3-text{
        max-width: 100%;
    }
    .s3-h2{
        font-size: 17px;
        margin-top: -10px;
    }
    .s3-p{
        max-width: 80%;
        font-weight: 200;
    }
    .s3-imgs{
        max-width: 100%;
        margin-top: 50px;
    }
    .s3-img1{
        max-width: 40%;
    }
    .s3-btn{
    background: transparent;
    border: 1px white solid;
    padding: 10px 11%;
    margin-right: 70px;
    color: white;
    }
}

.s4-content {
    padding: 70px 60px;
    padding-bottom: 140px;

}
.s4-h1 {
    text-align: center;
}
.s4-cont-block {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s4-text {
    max-width: 50%;
}
.s4-h2 {
    font-size: 20px;
}
.s4-p {
    font-size: 16px;
    font-weight: 400;
    max-width: 50%;
}
.s4-phone{
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
}
.s4-links{
    margin-top: 70px;
}
.s4-links img{
    margin-right: 25px;
    max-width: 50px;
}
.s4-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4-form input{
    padding: 15px 15px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 15px;
}
.s4-form1{
    scroll-behavior: smooth;
}
.s4-btn { 
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 15px;
    background: transparent;
}
.s4-btn a{
    color: black;
}



        /* добавить плавный скролл */

        @media screen and (max-width: 430px){
            .s4-cont-block{
                display: flex;
                flex-direction: column;
            }
            .s4-content{
                padding: 20px 40px;
            }
            .s4-cont-block{
                margin-top: 30px;
            }
            .s4-text{
                max-width: 100%;
                text-align: center;
            }
            .s4-p{
                max-width: 100%;
                font-weight: 200;
            }
            .s4-links{
                margin: 30px 0;
            }
            .s4-btn{
                color: black;
            }
        }





@media screen and (max-width: 375px){
    .s1-content{
        margin: 0;
        padding: 0;
    }
    .s1-p{
        max-width: 80%;
    }
}


@media screen and (min-width:700px) and (max-width: 825px){
    .s1-precontent{
        align-items: center;
    }
    .s1-content{
        flex-direction: column; 
    }
    .s1-text{
        /* justify-content: center; */
        align-items: center;

    }
    .s1-img{
        width: 100%;
    }
    .s1-img1{
        max-width: 750px;
        left: 0px;
    }
    .s1-img2{
        max-width: 600px;
        left: 200px;
    }
    .s1-btns{
        justify-content: flex-end;
        margin-right: 0;
    }

    .s2-img{
        max-width: 50%;
    }
    .s2-list-text{
        font-size: 14px;
    }
    .section3{
        padding: 30px;
    }
    .s3-content-block{
        flex-direction: column;
    }
    .s3-text{
        max-width: 100%;
    }
    .s3-imgs{
        max-width: 100%;
    }
}


@media screen and (max-width: 320px){
    .s4-form input{
        max-width: 200px;
    }
}

@media screen and (min-width: 830px) and (max-width: 1024px){
    .s1-precontent{
        align-items: center;
    }
    .s1-content{
        flex-direction: column; 
    }
    .s1-text{
        /* justify-content: center; */
        align-items: center;

    }
    .s1-img{
        width: 100%;
    }
    .s1-img1{
        max-width: 750px;
        left: 0px;
    }
    .s1-img2{
        max-width: 600px;
        left: 200px;
    }
    .s1-btns{
        justify-content: flex-end;
        margin-right: 0;
    }

    .s2-img{
        max-width: 50%;
    }
    .s2-list-text{
        font-size: 14px;
    }
    .section3{
        padding: 30px;
    }
    .s3-content-block{
        flex-direction: column;
    }
    .s3-text{
        max-width: 100%;
    }
    .s3-p{
        max-width: 50%;
    }
    .s3-imgs{
        max-width: 100%;
    }
}

@media screen and (min-width: 1800px){
    .s1-img1{
        left: 35%;
    }
}