@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
.header {
    padding: 30px 60px;
    background-color: rgb(10, 10, 10);
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.menu a{
    color: white;
}
.logo1 {
    width: 70px;
}
.links{
    scroll-behavior: smooth;
}
.links a{
    margin-left: 20px;
    scroll-behavior: smooth;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px;
    margin: auto;
}

.header-h1 {
    font-weight: 800;
    font-size: 64px;
}
.header-p {
    margin-top: -30px;
    font-size: 20px;
    font-weight: 200;
    max-width: 70%;
}
.header-btn {
    margin-top: 30px;
    background: transparent;
    border: 1px white solid;
    padding: 10px 11%;

    color: white;
    cursor: pointer;
}
.header-img {
    max-width: 60%;
}
.header-img1 {
    max-width: 100%;
}

.section-about {
    background-color: #202020;
    color: white;
}
.section-about-content {
    display: flex;
    padding: 30px 0px;
    margin: auto;
}
.about-img {
    max-width: 50%;
    position: relative;

}
.about-img1 {
    max-width: 100%;
    left: 100px;
}
.about-text {
}
.about-h2 {
    font-size: 60px;
    font-weight: 800;
}
.about-p {
    font-size: 18px;
    font-weight: 200;
    max-width: 60%;
    margin-bottom: 35px;
}


.section-work {
    background-color: #101010;
    padding: 30px 60px;
    color: white;
}
.work-content {
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: space-center;
}
.work-text {
    max-width: 60%;
}
.work-h2 {
    font-size: 60px;
    font-weight: 800;
    max-width: 50%;
}
.work-blocks {
    /* flex-wrap: wrap; */

    max-width: 70%;
}
.work-block {
    display: flex;
    flex-wrap: wrap;

}
.work-block1{

    max-width: 40%;
    margin-right: 50px;
    margin-bottom: 30px;
}
.block-h3 {
    font-weight: 600;
}
.block-p {
    font-weight: 400;
    font-size: 14px;
}
.work-img {
    max-width: 60%;

}
.work-img1 {
    max-width: 100%;
}
.footer {
    background-color: #202020;
    padding: 30px 60px;
    color: white;
}
.footer-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.footer-img {
    max-width: 60%;

}
.footer-text {
}
.footer-h2 {
    font-size: 60px;
    max-width: 80%;
}
.footer-p {
    font-size: 20px;
    max-width: 50%;
}
.s4-form1 {
    margin-top: 50px;
}
.s4-form {
}
.s4-btn {
}
.s4-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
}
.s4-form input{
    padding: 15px 15px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 15px;
}
.s4-btn { 
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 15px;
    background: transparent;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .links a{
        font-size: 12px;
    }
    .header{
        padding: 10px 5px;
    }
    .header-content{
        flex-direction: column;
        padding: 10px 15px;
    }
    .header-h1{
        font-size: 30px;
    }
    .header-p{
        font-size: 14px;
        margin-top: 10px;
    }
    .header-img{
        max-width: 90%;
    }
    .header-img1{
        max-width: 100%;
    }

    .section-about-content{
        flex-direction: column;
        padding: 10px 15px;
        align-items: center;
    }
    .about-img{
        max-width: 100%;
    }
    .about-h2{
        margin: 10px 0;
        font-size: 30px;
    }
    .about-p{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .section-work{
        padding: 10px 15px;
    }
    .work-content{
        flex-direction: column;
    }
    .work-text{
        max-width: 100%;
    }
    .work-h2{
        font-size: 30px;
    }
    .work-blocks{
        max-width: 100%;
    }
    .work-block1{
        max-width: 80%;
        margin-bottom: 0px;
        margin-right: 0;
    }
    .block-h3{
        padding: 10px 0;
        margin: 0;
    }
    .block-p{
        font-size: 13px;
    }
    .work-img{
        max-width: 100%;
    }
    .footer{
        padding: 10px 15px;
    }
    .footer-content{
        flex-direction: column;
        padding: 10px 15px;
    }
    .footer-img{
        max-width: 100%;
    }
    .footer-h2{
        font-size: 30px;
        max-width: 100%;
    }
    .footer-p{
        font-size: 14px;
        max-width: 80%;
    }
    .s4-form{
        max-width: 100%;
    }
    .s4-form input{
        width: 250px;

    }
}
@media screen and (min-width:700px) and (max-width:1311px){
    .menu{
        padding: 25px;
    }
    .links a{
        font-size: 14px;
    }
    .header{
        padding: 25px;
    }
    .header-content{
        padding: 25px;
    }
    .header-h1{
        font-size: 50px;
    }
    .header-p{
        font-size: 14px;
        margin-top: 10px;
    }
    .header-img{
        max-width: 90%;
    }
    .header-img1{
        max-width: 100%;
    }

    .section-about-content{
        padding: 10px 15px;
        align-items: center;
    }
    .about-img{
        max-width: 50%;
    }
    .about-h2{
        margin: 10px 0;
        font-size: 30px;
    }
    .about-p{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .section-work{
        padding: 25px;
    }
    .work-content{
        padding: 25px;
    }
    .work-text{

    }
    .work-h2{
        font-size: 50px;
    }
    .work-blocks{
        max-width: 100%;
    }
    .work-block1{
        max-width: 50%;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .block-h3{
        padding: 10px 0;
        margin: 0;
        font-size: 20px;
    }
    .block-p{
        font-size: 13px;
    }
    .work-img{
        max-width: 100%;
    }
    .footer{
        padding: 25px;
    }
    .footer-content{
        /* flex-direction: column; */
        padding: 10px 15px;
    }
    .footer-img{
        max-width: 50%;
    }
    .footer-h2{
        font-size: 30px;
        max-width: 100%;
    }
    .footer-p{
        font-size: 14px;
        max-width: 80%;
    }
    .s4-form{
        max-width: 80%;
    }
    .s4-form input{
        width: 250px;

    }
}
