@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
.header {
    padding: 30px 60px;
    background-color: rgb(10, 10, 10);
    height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.menu a{
    color: white;
}
.logo1 {
    width: 70px;
}
.links{
    scroll-behavior: smooth;
}
.links a{
    margin-left: 20px;
    scroll-behavior: smooth;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px;
    margin: auto;
}

.header-h1 {
    font-weight: 800;
    font-size: 64px;
}
.header-p {
    margin-top: -30px;
    font-size: 20px;
    font-weight: 200;
    max-width: 100%;
}
.header-btn {
    margin-top: 30px;
    background: transparent;
    border: 1px white solid;
    padding: 10px 11%;

    color: white;
    cursor: pointer;
}
.header-img {
    max-width: 60%;
}
.header-img1 {
    max-width: 100%;
}
.section-about {
    background-color: #202020;
    color: white;
}
.section-about-content {
    display: flex;
    padding: 30px 0px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.about-img {
    max-width: 50%;
    position: relative;

}
.about-img1 {
    max-width: 100%;

}
.about-text {
}
.about-h2 {
    font-size: 60px;
    font-weight: 800;
    max-width: 70%;
}
.about-p {
    font-size: 18px;
    font-weight: 200;
    max-width: 60%;
    margin-bottom: 35px;
}


.about-block1 {
    display: flex;
    align-items: center;
}
.about-block-img {
    width: 40px;
    margin-right: 30px;
}

.block-text-p {
    line-height: 10px;
    letter-spacing: 1px;
}
.footer {
    background-color: #101010;
    padding: 30px 60px;
    color: white;
}
.footer-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.footer-img {
    max-width: 60%;

}
.footer-text {
}
.footer-h2 {
    font-size: 60px;
    max-width: 80%;
}
.footer-p {
    font-size: 20px;
    max-width: 50%;
}
.s4-form1 {
    margin-top: 50px;
}

.s4-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
}
.s4-form input{
    padding: 15px 15px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 15px;
}
.s4-btn { 
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 15px;
    background: transparent;
    color: white;
    cursor: pointer;
}
@media screen and (max-width:700px){
    .header {
        padding: 0;
    }
    .menu {
        padding: 5px;
    }
    .logo {
    }
    .links{
    }
    .links a{
        font-size: 12px;
    }
    .header-content{
        flex-direction: column;
        padding: 25px;
        align-items: baseline;
    }
    .header-h1{
        font-size: 30px;
    }
    .header-p{
        font-size: 14px;
        margin-top: 10px;
    }
    .header-img{
        max-width: 100%;
    }
    .header-img1{
        max-width: 100%;
    }
    .section-about-content{
        padding: 25px;
        flex-direction: column-reverse;
    }
    .about-img{
        max-width: 100%;
    }
    .about-h2{
        font-size: 30px;
    }
    .about-block-img{
        width: 30px;
        margin-right: 20px;
    }
    .block-text-p{
        font-size: 14px;
    }
    .footer{
        padding: 25px;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
    }
    .footer-img{
        max-width: 100%;
    }
    .footer-h2{
        font-size: 30px;
    }
    .footer-p{
        font-size: 14px;
    }
    .s4-form{
        max-width: 100%;
    }
    .s4-form input{
        max-width: 250px;
    }
}

@media screen and (min-width:700px) and (max-width:1311px){
    .header {
        padding: 0;
    }
    .menu {
        padding: 5px;
    }
    .links a{
        font-size: 12px;
    }
    .header-content{
        padding: 35px;
    }
    .header-h1{
        font-size: 50px;
    }
    .header-p{
        font-size: 18px;
        margin-top: 10px;
    }
    .header-img{
        max-width: 70%;
    }
    .header-img1{
        max-width: 100%;
    }
    .section-about-content{
        padding: 35px;
    }
    .about-img{
        max-width: 50%;
    }
    .about-h2{
        font-size: 40px;
    }
    .about-block-img{
        width: 30px;
        margin-right: 20px;
    }
    .block-text-p{
        font-size: 18px;
    }
    .footer{
        padding: 35px;
    }
    .footer-content{
        align-items: center;
    }
    .footer-img{
        max-width: 50%;
    }
    .footer-h2{
        font-size: 30px;
    }
    .footer-p{
        font-size: 14px;
    }
    .s4-form{
        max-width: 80%;
    }
    .s4-form input{
        max-width: 250px;
    }
}